/* ==================== PAGE LAYOUT ==================== */

body {
    margin: 0;
    padding: 0;
}

@page {
    size: letter;    /* 8.5in x 11in */
    margin: 0;
}

.page {
    position: relative;
    width: 816px;     /* 8.5 x 11 at 96 dpi */
    height: 1056px;
    page-break-after: always;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 816px;
    height: 1056px;
    z-index: -1;
}


@font-face {
    font-family: 'League Spartan';
    src: url('static/fonts/LeagueSpartan-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('static/fonts/Montserrat-Regular.ttf') format('truetype');
}


/* ==================== PAGE 1 YEAR ==================== */
.year-title {
    position: absolute;
    top: 700px;
    width: 100%;
    text-align: center;
    font-family: 'League Spartan';
    font-size: 36pt;
    color: #76b0af;
}


/* ==================== GENERIC PLOT POSITIONING ==================== */

.plot {
    position: absolute;
    width: 300px;
}

.plot-left {
    left: 100px;
    top: 300px;
}

.plot-right {
    left: 430px;
    top: 300px;
}


/* ==================== CAPTIONS ==================== */

/* ================= PAGE 6 ================= */

/* Big % over dark yellow circle */
.stat-social {
    position: absolute;

    top: 400px;     
    left: 550px;   

    width: 160px;   /* ≈ circle width */
    text-align: center;

    font-family: 'League Spartan';
    font-size: 60pt;
    font-weight: 700;
    color: #fbefab;      /* light yellow text */

    z-index: 10;
}

/* Caption inside light yellow block */
.caption-social {
    position: absolute;

    top: 700px;
    left: 500px;
    width: 430px;

    font-family: 'Montserrat';
    font-size: 30pt;
    line-height: 1.35;
    color: #f0d747;

    z-index: 10;
}

/* Plots inside large light blocks */
.plot-social-left {
    position: absolute;
    top: 300px;
    left: 120px;
    width: 260px;
}

.plot-social-right {
    position: absolute;
    top: 900px;
    left: 120px;
    width: 260px;
}

/* ================= PAGE 7 ================= */

.stat-finance-1 {
    position: absolute;
    top: 300px;
    left: 530px;
    width: 150px;

    font-family: 'League Spartan';
    font-size: 60pt;
    font-weight: 700;
    text-align: center;
    color: #f5b4a4;
}

.stat-finance-2 {
    position: absolute;
    top: 700px;
    left: 215px;
    width: 150px;

    font-family: 'League Spartan';
    font-size: 60pt;
    font-weight: 700;
    text-align: center;
    color: #f5b4a4;
}

.caption-finance-1 {
    position: absolute;
    top: 500px;
    left: 425px;
    width: 350px;

    font-family: 'Montserrat';
    font-size: 14pt;
    color: #f3623d;
}

.caption-finance-2 {
    position: absolute;
    top: 800px;
    left: 60px;
    width: 350px;

    font-family: 'Montserrat';
    font-size: 14pt;
    color: #f3623d;
}

/* ================= PAGE 8 ================= */

.stat-therapy-1 {
    position: absolute;
    top: 285px;
    left: 515px;
    width: 150px;

    font-family: 'League Spartan';
    font-size: 42pt;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.stat-therapy-2 {
    position: absolute;
    top: 565px;
    left: 215px;
    width: 150px;

    font-family: 'League Spartan';
    font-size: 42pt;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.caption-therapy {
    font-family: 'Montserrat';
    font-size: 14pt;
    color: #76b0af;
}

/* ================= PAGE 9 ================= */
.stat-support {
    position: absolute;
    top: 285px;
    left: 515px;
    width: 150px;

    font-family: 'League Spartan';
    font-size: 42pt;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.caption-support {
    position: absolute;
    top: 410px;
    left: 380px;
    width: 350px;

    font-family: 'Montserrat';
    font-size: 14pt;
    color: #f3623d;
}