/* ==================== PAGE LAYOUT ==================== */

body {
    margin: 0;
    padding: 0;
}

.page {
    position: relative;
    width: 816px;     /* 8.5 x 11 at 96 dpi */
    height: 1056px;
    page-break-after: always;
}

.page-1 {
    background-image: url('static/backgrounds/1.jpg');
    background-size: 816px 1056px;
    background-repeat: no-repeat;
}

.page-2 {
    background-image: url('static/backgrounds/2.jpg');
    background-size: 816px 1056px;
    background-repeat: no-repeat;
}

.page-3 {
    background-image: url('static/backgrounds/3.jpg');
    background-size: 816px 1056px;
    background-repeat: no-repeat;
}

.page-4 {
    background-image: url('static/backgrounds/4.jpg');
    background-size: 816px 1056px;
    background-repeat: no-repeat;
}

.page-5 {
    background-image: url('static/backgrounds/5.jpg');
    background-size: 816px 1056px;
    background-repeat: no-repeat;
}

.page-6 {
    background-image: url('static/backgrounds/6.jpg');
    background-size: 816px 1056px;
    background-repeat: no-repeat;
}

.page-7 {
    background-image: url('static/backgrounds/7.jpg');
    background-size: 816px 1056px;
    background-repeat: no-repeat;
}

.page-8 {
    background-image: url('static/backgrounds/8.jpg');
    background-size: 816px 1056px;
    background-repeat: no-repeat;
}

.page-9 {
    background-image: url('static/backgrounds/9.jpg');
    background-size: 816px 1056px;
    background-repeat: no-repeat;
}

.page-10 {
    background-image: url('static/backgrounds/10.jpg');
    background-size: 816px 1056px;
    background-repeat: no-repeat;
}

.page-11 {
    background-image: url('static/backgrounds/11.jpg');
    background-size: 816px 1056px;
    background-repeat: no-repeat;
}

.page-12 {
    background-image: url('static/backgrounds/12.jpg');
    background-size: 816px 1056px;
    background-repeat: no-repeat;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 816px;
    height: 1056px;

    z-index: 0;
}


@font-face {
    font-family: 'League Spartan';
    src: url('static/fonts/LeagueSpartan-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('static/fonts/Montserrat-Regular.ttf') format('truetype');
}


/* ==================== PAGE 1 YEAR ==================== */
.year-title {
    position: absolute;
    top: 330px;
    width: 100%;
    text-align: center;
    font-family: 'League Spartan';
    font-size: 36pt;
    color: #76b0af;
}


/* ==================== GENERIC PLOT POSITIONING ==================== */

.plot {
    position: absolute;
    width: 300px;
}

.plot-left {
    left: 100px;
    top: 300px;
}

.plot-right {
    left: 430px;
    top: 300px;
}


/* ==================== CAPTIONS ==================== */

.caption {
    position: absolute;
    font-family: 'Montserrat';
    font-size: 16pt;
    width: 500px;
}

.yellow-caption {
    color: #f0d747;
    top: 350px;
    left: 100px;
}

.rect-caption {
    position: absolute;
    font-family: 'Montserrat';
    font-size: 14pt;
    width: 350px;
}

.rect-caption-pink {
    color: #f3623d;
    top: 150px;
    left: 340px;
}

.rect-caption-pink2 {
    color: #f3623d;
    top: 390px;
    left: 340px;
}

.rect-caption-blue {
    color: #76b0af;
    top: 150px;
    left: 340px;
}

.rect-caption-blue2 {
    color: #76b0af;
    top: 390px;
    left: 340px;
}