/* ==================== PAGE LAYOUT ==================== */

body {
    margin: 0;
    padding: 0;
}

@page {
    size: letter;    /* 8.5in x 11in */
    margin: 0;
}

.page {
    position: relative;
    width: 816px;     /* 8.5 x 11 at 96 dpi */
    height: 1056px;
    page-break-after: always;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 816px;
    height: 1056px;
    z-index: -1;
}


@font-face {
    font-family: 'League Spartan';
    src: url('static/fonts/LeagueSpartan-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('static/fonts/Montserrat-Regular.ttf') format('truetype');
}


/* ==================== PAGE 1 YEAR ==================== */
.year-title {
    position: absolute;
    top: 750px;
    width: 100%;
    text-align: center;
    font-family: 'League Spartan';
    font-size: 42pt;
    font-weight: 700;
    color: #76b0af;
}


/* ==================== GENERIC PLOT POSITIONING ==================== */

.plot {
    position: absolute;
    width: 300px;
}

.plot-left {
    left: 100px;
    top: 300px;
}

.plot-right {
    left: 430px;
    top: 300px;
}


/* ==================== CAPTIONS ==================== */

/* ================= PAGE 6 ================= */

/* Big % over dark yellow circle */
.stat-social {
    position: absolute;

    top: 450px;     
    left: 550px;   

    width: 160px;
    text-align: center;

    font-family: 'League Spartan';
    font-size: 62pt;
    font-weight: 700;
    color: #fbefab;

    z-index: 10;
}

/* Caption inside light yellow block */
.caption-social {
    position: absolute;

    top: 640px;
    left: 493px;
    width: 275px;

    font-family: 'Montserrat';
    font-size: 23pt;
    line-height: 1.35;
    text-align: center;
    color: #f0d747;

    z-index: 10;
}

.plot-social-left {
    position: absolute;
    top: 295px;
    left: 65px;
    width: 350px;
}

.plot-social-right {
    position: absolute;
    top: 690px;
    left: 65px;
    width: 350px;
}

/* ================= PAGE 7 ================= */

.stat-finance-1 {
    position: absolute;
    top: 326px;
    left: 530px;
    width: 150px;

    font-family: 'League Spartan';
    font-size: 60pt;
    font-weight: 700;
    text-align: center;
    color: #f5b4a4;
}

.stat-finance-2 {
    position: absolute;
    top: 700px;
    left: 80px;
    width: 150px;

    font-family: 'League Spartan';
    font-size: 60pt;
    font-weight: 700;
    text-align: center;
    color: #f5b4a4;
}

.caption-finance-1 {
    position: absolute;
    top: 480px;
    left: 470px;
    width: 300px;

    font-family: 'Montserrat';
    font-size: 14pt;
    text-align: center;
    color: #f3623d;
}

.caption-finance-2 {
    position: absolute;
    top: 860px;
    left: 50px;
    width: 280px;

    font-family: 'Montserrat';
    font-size: 14pt;
    text-align: center;
    color: #f3623d;
}

.plot-finance-left {
    position: absolute;
    top: 280px;
    left: 65px;
    width: 350px;
}

.plot-finance-right {
    position: absolute;
    top: 670px;
    left: 400px;
    width: 350px;
}

/* ================= PAGE 8 ================= */

.stat-therapy-1 {
    position: absolute;
    top: 323px;
    left: 510px;
    width: 150px;

    font-family: 'League Spartan';
    font-size: 60pt;
    font-weight: 700;
    text-align: center;
    color: #cedbdb
}

.stat-therapy-2 {
    position: absolute;
    top: 700px;
    left: 80px;
    width: 150px;

    font-family: 'League Spartan';
    font-size: 60pt;
    font-weight: 700;
    text-align: center;
    color: #cedbdb;
}

.caption-therapy-1 {
    position: absolute;
    top: 470px;
    left: 485px;
    width: 285px;

    font-family: 'Montserrat';
    font-size: 16pt;
    text-align: center;
    color: #76b0af;
}

.caption-therapy-2 {
    position: absolute;
    top: 862px;
    left: 50px;
    width: 280px;

    font-family: 'Montserrat';
    font-size: 16pt;
    text-align: center;
    color: #76b0af;
}

.plot-trauma-left {
    position: absolute;
    top: 280px;
    left: 65px;
    width: 350px;
}

.plot-trauma-right {
    position: absolute;
    top: 670px;
    left: 420px;
    width: 350px;
}

/* ================= PAGE 9 ================= */
.stat-support {
    position: absolute;
    top: 410px;
    left: 105px;
    width: 150px;

    font-family: 'League Spartan';
    font-size: 60pt;
    font-weight: 700;
    text-align: center;
    color: #fbefab;
}

.caption-support {
    position: absolute;
    top: 600px;
    left: 60px;
    width: 260px;

    font-family: 'Montserrat';
    font-size: 23pt;
    text-align: center;
    color: #f0d747;
}

.plot-support-left {
    position: absolute;
    top: 260px;
    left: 395px;
    width: 350px;
}

.plot-support-right {
    position: absolute;
    top: 660px;
    left: 395px;
    width: 350px;
}

/* ================= PAGE 10 ================= */

.plot-housing {
    position: absolute;
    top: 200px;
    left: 55px;
    width: 400px;
}

.plot-employment {
    position: absolute;
    top: 495px;
    left: 350px;
    width: 400px;
}

.plot-doing {
    position: absolute;
    top: 780px;
    left: 55px;
    width: 400px;
}

.stat-sob {
    position: absolute;
    top: 210px;
    left: 560px;
    width: 150px;

    font-family: 'League Spartan';
    font-size: 52pt;
    font-weight: 700;
    text-align: center;
    color: #f0d747;
}

.stat-sup {
    position: absolute;
    top: 530px;
    left: 90px;
    width: 150px;

    font-family: 'League Spartan';
    font-size: 52pt;
    font-weight: 700;
    text-align: center;
    color: #f3623d;
}

.stat-con {
    position: absolute;
    top: 810px;
    left: 560px;
    width: 150px;

    font-family: 'League Spartan';
    font-size: 52pt;
    font-weight: 700;
    text-align: center;
    color: #76b0af;
}

.caption-sob {
    position: absolute;
    top: 335px;
    left: 525px;
    width: 255px;

    font-family: 'Montserrat';
    font-size: 12pt;
    text-align: center;
    color: #fbefab;
}

.caption-sup {
    position: absolute;
    top: 630px;
    left: 55px;
    width: 255px;

    font-family: 'Montserrat';
    font-size: 12pt;
    text-align: center;
    color: #f5b4a4;
}

.caption-con {
    position: absolute;
    top: 950px;
    left: 530px;
    width: 255px;

    font-family: 'Montserrat';
    font-size: 12pt;
    text-align: center;
    color: #cedbdb;
}